table {
    font-family: arial, sans-serif;
    border-collapse: collapse !important;
    width: 60%;
    border: 1px solid #dddddd;
    overflow-x:auto !important;
  }
  .table-item table,   th, td{
    border: 1px solid #dddddd !important;

  }
   td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  td{
    cursor: pointer;
    transition: all 0.3s ease;
  }

  td:hover{
    background-color: #ccc;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .table-head{
      width: 60px;
      text-align: center;
  }
  .table-item{
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

  }
  .color-bg .red{
      width: 40px;
      height: 10px;
      background-color:rgb(255, 99, 132) ;
  }
  .color-bg .green{
      width: 40px;
      height: 10px;
      background-color:rgb(75, 192, 192) ;
  }
  .color-bg .yellow{
      width: 40px;
      height: 10px;
      background-color:rgb(255, 205, 86) ;
  }
  .color-bg .grey{
      width: 40px;
      height: 10px;
      background-color:rgb(201, 203, 207) ;
  }
  .color-bg .blue{
      width: 40px;
      height: 10px;
      background-color:rgb(54, 162, 235) ;
  }
  .color-bg .black{
      width: 40px;
      height: 10px;
      background-color:rgb(14, 14, 14) ;
  }
  .color-bg .aqua{
    width: 40px;
    height: 10px;
    background-color: #00FFFF;
}
.color-bg .brown{
    width: 40px;
    height: 10px;
    background-color:#A52A2A ;
}
.color-bg .deepPink{
  width: 40px;
  height: 10px;
  background-color:#FF1493 ;
}
.color-bg .gold{
  width: 40px;
  height: 10px;
  background-color:#FFD700;
}
.color-bg .indigo{
  width: 40px;
  height: 10px;
  background-color:#4B0082 ;
}
.color-bg .lawnGreen{
  width: 40px;
  height: 10px;
  background-color: #7CFC00;
}
  .chart-item{
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .chart-items{
    width: 500px;
    padding-top: 40px;
  }